* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  .imagem-Fcontato {
      width: 100%;
      height: 70%;
      border: solid black 1px;
      border-radius: 2em;
  }
  
  
  .form1{
    position: relative;
    margin-top: -160px;
    z-index: 10;
    text-align: center;
  }
  
  .form{
    position: relative;
    margin-top: -110px;
    z-index: 10;
    text-align: center;
  }
  
  
  
  p {
    font-size: 4em;
  }
  
  
  .main-conteiner {
      display: grid;
  }
  
  
  
  /* General button style */
  
  .btn {
      border: none;
      font-family: 'Lato';
      font-size: inherit;
      color: inherit;
      background: none;
      cursor: pointer;
      padding: 25px 80px;
      display: inline-block;
      margin: 0 0 15px 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      
    }
    
    .btn:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    
    /* Pseudo elements for icons */
    .btn:before {
      font-family: 'FontAwesome';
      speak-as: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      position: relative;
      -webkit-font-smoothing: antialiased;
    }
    
    
    /* Icon separator */
    .btn-sep {
      padding: 25px 60px 25px 120px;
      
    }
    
    .btn-sep:before {
      background: rgba(0,0,0,0.15);
    }
  
  
  .btn-2 {
      background: #2ecc71;
      color: #fff;
      border-radius: 10px;
    }
  
    .btn-zap-preto {
      background-image: url("/img/whatsapp-preto.png");
      background-size: 2em;
      background-position: 10%;
      background-repeat: no-repeat;
    }
    
  .btn-2:hover {
    background: #27ae60;
    background-image: url("/img/whatsapp-preto.png");
      background-size: 2em;
      background-position: 10%;
      background-repeat: no-repeat;
  }
  
  .btn-2:active {
    background: #27ae60;
    top: 2px;
  }
  
  .btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
    /*BOTAO DO ZAP*/
  
  .btn-whatsapp {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: #25d366;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 1px 1px 2px #888;
      z-index: 1000;
  }
  
  .fa-whatsapp {
      margin-top: 16px;
  }
  
  .zap-preto-logo {
      height: 1.4em;
      width: 1.4em;
  }

.texto-oport {
    margin: 1em 0;
}
