@import url(./header.css);
@import url(./about-us.css);
@import url(./rodape.css);
@import url(./menu-hamburguer.css);
@import url(./oportunidades.css);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #132539;
    --branco: white;
    --fonte-principal: Madefor, "Helvetica Neue", Helvetica, Arial, "メイリオ", "meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", sans-serif;
    --fonte-titulo: "Open Sans", sans-serif;
    --fonte-nunito: "Nunito Sans", sans-serif;
    --fonte-roboto: 'Roboto Condensed', sans-serif;
}

body {
    font-family: var(--fonte-roboto);
    margin: 0;
    padding: 0;
    color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evita overflow horizontal */
}

header {
    background: rgb(4,20,37);
    background: linear-gradient(90deg, rgba(4,20,37,0.8436624649859944) 24%, rgba(43,73,106,0.829656862745098) 59%, rgba(211,221,227,0.19100140056022408) 100%);

    
   /*background-color:#e3e3f1 ;
   */
}

.main {
    flex: 1; /* Faz com que o main ocupe o espaço restante */
    width: 100%;
    padding: 1em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,100,119,1) 100%);
    display: grid;
}

.conteiner {
    border-bottom: solid white 2px;
   
}

.logo-titulo {
    width: 80%;
    padding: 1em;
}

h2 {
    margin: 0em 0 0.5em 0;
    font-size: 1.5rem;
    color: var(--branco);
    text-transform: uppercase;
}

p {
    margin: 1em 0;
    font-size: 0.8rem; /* Define um tamanho de fonte específico */
    line-height: 1.5;
    color: var(--branco);
    
    font-weight: 600;
}

.servicos {
    padding: 1em;
}

#conf-botao {
    border: 2px solid black;
    border-radius: 10em; 
    padding: 0.4em 4em;
    font-weight: 600;
    background-color: var(--branco);
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape {
    background-color: var(--cor-principal);
    padding: 2em;
    width: 100%;
    border: solid 1px black;
}

.texto-rodape {
    color: white;
    font-size: 1.8em;
    font-style: oblique;
    justify-content: center;
    border: none;
}

.rodape-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-titulo {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    font-style: italic;
}

.link-email {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
}

h3 {
    font-size: 1.9em;
    margin: 1em 0 1em 0;
    color: white;
    
    max-width: 100%;
    
}



.meios-contato {
    display: grid;
    gap: 10px;
}

.zap-logo {
    height: 1.2em;
    width: 1.2em;
    margin-right: 5px;
}


.btn-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.main-conteiner {
    padding: 1em;
    background-color: var(--cor-principal);
    border: solid 1px transparent;
    border-radius: 5px;
}

.form-textos {
    text-align: left;
}


.imagem-trato{
display: none;
}

.servicos h2 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.div-servicos {
    margin-top: 2em;
}

/* Responsividade para dispositivos móveis */


@media screen and (max-width: 600px) {

    .p-quemsomos {
        margin-bottom: 1em;
    }


    .frase-imp{
        font-size: 0.7em;
        font-style: italic;
        background-color: var(--cor-principal);
        border-radius: 4px;
        border-radius: 4px;
        text-align: center;
        margin-top: 0;
        
    }

    h1 {
        font-size: 1.4em;
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    p {
        font-size: 1em;
    }

    h3 {
        margin-top: 1em;
        font-size: 1em;
        width: 80%;
    }

    .subtitulo {
        margin: 0;
    }

    .div-banner {
        text-align: center;
        
    }

    .p-servicos {
        font-size: 0.8em;
    }
    
    .header-elementos {
        display: none;
    }
    
    .menu-icon {
        font-size: 1.5em;
        color: white;
    }
    
    .menu li {
        width: 100%;
        padding: 1em;
    }
    
    .imagem__logo {
        max-width: 7vh;
        height: auto;
    }

    .imagem-banner {
        width: 30vh;
        margin: 3em 0;
        display: none;
    } 
    

    .imagem-banner-servicos {
        width: 80%;
        border-radius: 1em;
    }   


    .div-banner {
        text-align: center;
    }


    .botao-oportunidades {
        width: 100%;
    }

    .logo-titulo {
        width: 80%;
        padding: 1em;
    }


    .texto-rodape {
        font-size: 1.3em;
    }

    /*OPORTUNIDADES*/

   
    
    .main-conteiner {
        margin: 1em;
        text-align: center;
        
        height: auto;
    }
        
    .contato-titulo {
        font-size: 1.4em;
    }

    .btn {
        font-size: 0.6em;
        padding: 11px 12px;
        margin: 10px 0 15px 0;
        width: 90%;
    }

    .btn-zap-preto {
        background-position: 5%;
        background-size: 1.5em;
    }

    .btn-zap-preto:hover {
        background-position: 5%;
        background-size: 1.5em;
    }

    
    .form1 {
        top: 6.5em;
        
    }

    .p-oportunidades {
        font-size: 1.1em;
        margin-top: 7em;
    
    }

    .titulo-oport {
        margin: 1em 0 0 0.5em;
        font-size: 1.1em;
    }

    #conf-botao {
        padding: 0.3em 0.2em;
        font-size: 1em;
    }





    .carousel::before, .carousel::after, .carousel__prev, .carousel__next {
        position: absolute;
        top: 0;
        margin-top: 37.5%;
        width: 2.5rem;
        height: 2.5rem;
        transform: translateY(-50%);
        border-radius: 50%;
        font-size: 0;
        outline: 0;
    }

    .carousel__navigation-button {
        display: inline-block;
        width: 1.1rem;
        height: 1.1rem;
        background-color: #333;
        background-clip: content-box;
        border: 0.25rem solid transparent;
        border-radius: 50%;
        font-size: 0;
        transition: transform 0.1s;
      }
}



/*responsitividade de Ipad/laptop*/

@media screen and (min-width: 600px) {


    .main {
        padding: 2em;
    }


    header, body {
        width: 100%;
    }

    .frase-imp{
        font-size: 1em;
        font-style: italic;
        background-color: var(--cor-principal);
        border-radius: 4px;
        text-align: center;
        width: 100%;
    }


    h2 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1.3em;
        width: 60%;
    }

    .subtitulo {
        margin: 0 0 0.5em 0;
    }

    .p-servicos {
        font-size: 1em;
    }
    

    .texto-rodape {
        margin: 0.5em 0;
        font-size: 2em;
    }

    .botao-oportunidades {
        font-size: 1.3em;
    }

    .header-elementos {
        display: none;
    }

    .menu-icon {
        color: white;
    }

    .menu{
        width: 40vh;
    }

    /*alterações do menu */

    .header-elementos {
        display: none;
    }

    
    .menu-icon {
        font-size: 3em;
        color: white;
    }

    .menu li {
        padding: 2em;
        font-size: 1.2em;
        font-weight: 800;
    }

    .menu-elementos {
        font-size: 1.2em;
        font-weight: 800;
    }

    /*imagens*/
    

    .imagem__logo {
        max-width: 10rem;
        height: auto;
        
    }

    .imagem-banner {
        width: 50vh;
        margin: 3em 0;
        display: none;
    }

    .imagem-banner-servicos {
        width: 80%;
        border-radius: 1em;
        align-items: center;
    }   

    .div-banner {
        text-align: center;
    }

    

      /*OPORTUNIDADES*/


    .main-conteiner {
        margin: 2em;
    }
     
    .btn-zap-preto {
        background-position: 5%;
        background-size: 2em;
    }

    .btn-zap-preto:hover {
        background-position: 10%;
        background-size: 2em;
    }

    .btn {
        padding: 15px 60px;
        margin-top: 15px;
    }

    .form1 {
        top: 4.5em;
    }

    .imagem-Fcontato {
        height: 100%;
        width: 100%;
    }
    
   
    .p-oportunidades {
        font-size: 2em;
        margin-top: 3em;
    }

}



.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-item img {
    width: 100%;
    display: block;
  }
  
  
  /* Controles do carrossel */
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  
  /* Media queries para tamanhos maiores */
  @media (min-width: 800px) {
    .carousel-item img {
      width: auto;
      max-width: 100%;

    }

    .main-conteiner {
        padding: 1em;
        margin: 2em;
    }

    .main {
        padding: 4em;
    }

    .p-servicos {
        font-size: 1em;
    }

    .titulo-oport {
        margin-bottom: 0.5em;
    }

    .frase-imp {
        font-size: 1em;
        margin-top: -2em;
        margin-bottom: 2em;
        
    }
    
    .conteiner-quemsomos {
        margin-bottom: 2.2em;
    }

    .contato-titulo {
        margin-bottom: -2em;
        margin-left: -2em;
    }
  

  }
@media screen and (min-width: 1000px) and (max-width: 1428px) {

    .main {
        padding: 5em;
        
    }

    .form-textos {
        text-align: left;
    }

    .hamburguer {
        display: none;
    }

    .conteiner-main {
        display: flex;
    }


    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.7em;
        width: 40%;
    }

    
    p {
        font-size: 1.6em;
        width: 60%;
    }

    .p-oportunidades-extra {
        font-size: 1em;
    }

    .p-servicos {
        font-size: 1.2em;
        width: 100%;
    }

    .titulo-oport {
        font-size: 2em;
    }

    .ancora {
        text-decoration: none;
        color: white;
        font-size: 1.6em;
        font-weight: 900;
        margin: 0 12px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .ancora:hover {
        color: var(--cor-principal);   
    }


    .header-elementos {
        display: flex;
        list-style: none;
        gap: 3em;
         
    }

    .frase-imp {
        font-size: 1.4em;
        margin-top: -2em;
        margin-bottom: 4em;
        
    }

    .header-elemento {
        border-radius: 3px;
        color: var(--cor-principal);
        width: 100%;
        padding: 3px;
        
    }

    .botao-oportunidades {
        font-size: 1.2em;
        width: 50%;
    }

    .p-home {
        width: 100%;
        font-size: 1.4em;
    }

    /* .conteiner-home {
        display: flex;
        flex-direction: row-reverse;
        gap: 4em;
    }

    .imagem-trato {
        width: 400px;
        height: auto;
    } */

    .imagem__logo {
        max-width: 8rem;
        height: auto;
        margin-left: 5em;
    }
    
   
    .logo-titulo {
        max-width: 80%;
        height: auto;  
    }


    .imagem-banner {
        width: 60vh;
        margin: 0 1em 5em 0;
    }

    .imagem-banner-servicos {
        width: 80%;
        border-radius: 1em;
        margin-top: 2em;
    }

    .imagem-trato {
        display: block;
        width: 500px;
        height: 350px;
        margin: 0 0 2em 2em;
    }

    .conteiner-quemsomos {
        display: flex;
        align-items: center;
        
    }

    .p-quemsomos {
       font-size: 1.6em;
       color: whitesmoke;
       margin-bottom: -1em;
    }

    .subtitulo {
        margin-top: -1em;
        margin-bottom: -2em;
    }

    .display-form {
        text-align: center;
    }
    
    /*OPORTUNIDADES*/

    .main-conteiner {
        margin: 3em 0.5em 1em 0.5em;
        width: 100%;
        text-align: center;
        height: auto;
    }

    .conteiner-oport {
        display: grid;
        grid-template-columns: 50fr 50fr;
        gap: 3em;
    }

 

    .btn-zap-preto {
        background-position: 5%;
        background-size: 2em;
    }

    .form1 {
        flex-direction: column;
        align-items: center;
        
    }

    .conteiner-oportunidade {
       text-align: center;
    }
    
    .p-oportunidades {
        width: 100%;
        margin-top: 4em;
        font-size: 1.5em;
    }

    

    .btn {
        font-size: inherit;
        padding: 15px 60px;
        margin: 15px 15px 15px 15px;
    }


    .btn-whatsapp {
        width: 80px;
        height: 80px;
        font-size: 40px;
       
    }
}

@media screen and (min-width: 1428px) {

    .main {
        padding: 5em;
    }
   
    .hamburguer {
        display: none;
    }

    .header-elementos {
        display: flex;
        list-style: none;
        gap: 1em;
    }

    .ancora {
        text-decoration: none;
        color: white;
        font-size: 1.9em;
        font-weight: 900;
        margin: 0 1.5em;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .ancora:hover {
        color: var(--cor-principal);   
    }


    .header-elemento {
        border-radius: 3px;
        color: var(--cor-principal);
        width: 100%;
        box-shadow: black;
        padding: 3px;
    }


    .conteiner-main {
        display: flex;
        width: 100%;
    }

    /*

    .imagem-Fcontato {
        width: 50vh;
        height: auto;
        border: 1px solid;
        border-radius: 1em;
        margin: 0 7em 9em 3em;
    }

    */

    h1 {
        font-size: 3.5em;
        margin-left: 1em;
        color: white;
    }

    h2 {
        font-size: 2.7em;
    }

    h3 {
        width: 40%;
        font-size: 2.5em;
    }
    
    p {
        font-size: 1.4em;
        width: 100%;
    }

    .titulo-oport {
        font-size: 2.7em;
        margin: 1em 0 0 1em;
    }

    .p-servicos {
        font-size: 1.4em;
        width: 100%;
        margin-bottom: 3em;
    }

    .frase-imp {
        width: 100%;
        font-size: 1.4em;
    }

    .texto-rodape {
        margin: 0.5em 0;
        font-size: 2.5em;
    }

    .contato-titulo {
        font-size: 2.5em;
        font-weight: 800;
    }

    .imagem__logo {
        width: 100%;
    }


    .div-banner {
        text-align: center;
    }


    .imagem-banner-servicos {
        width: 60%;
        border-radius: 1em;

        margin-top: 2em;
    }

    .logo-titulo {
        width: 40vh;
        height: auto;
        
    }

    .div-oport {
        width: 100%;
        margin: 2em 0;
    }

    .botao-oportunidades {
        font-size: 1.3em;
        width: 50%;
        
    }


    .p-home {
        width: 100%;
        font-size: 2em;
    }

    .p-servicos {
        font-size: 1.8em;
    }

    
    #conf-botao {
        padding: 0.6em 3em;
        font-size: 1.5em;
    }

    .botao-oportunidades:hover {
        color: white;
        background-color: transparent;
        
    }

    #conf-botao:hover {
        background-color: var(--cor-principal);
        color: white;
        border: white solid 1px;
    }

   

    .imagem-trato {
        display: block;
        width: 500px;
        height: 450px;
        margin: 0 0 2em 2em;
    }

    .conteiner-quemsomos {
        display: flex;
        align-items: center;
        margin-top: 10em;
    
    }

    .p-quemsomos {
       font-size: 2.3em;
       color: whitesmoke;
       width: 55%;
       margin-right: 4em;
       margin-bottom: -1em;
    }

    .subtitulo {
        margin-top: 1em;
        margin-bottom: -6em;
    }

   .titulo-home {
    margin-top: 1em;
    margin-bottom: 0;
   }
    
    /*OPORTUNIDADES*/

    .main-conteiner {
        margin: 0 0 5em 0;
        width: 100%;
        text-align: center;
        
        height: auto;
    }

    .conteiner-oport {
        padding: 6em;
        display: grid;
        grid-template-columns: 50fr 50fr;
        gap: 3em;
        height: auto;
    }

 

    .btn-zap-preto {
        background-position: 10%;
        background-size: 2em;
    }

    .form1 {
        flex-direction: column;
        align-items: center;
        
        
    }

    .display-form {
        text-align: center;
    }

    .conteiner-oportunidade {
       text-align: center;
    }
    
    .p-oportunidades {
        width: 100%;
        margin-top: 3em;
    }

    

    .btn {
        font-size: inherit;
        padding: 25px 80px;
        margin: 0 0 15px 15px;
    }

   

    .btn-whatsapp {
        width: 90px;
        height: 90px;
        font-size: 50px;
    }



   
}
